/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Scss Variables
-------------------------------------------------------------- */
// My color scheme
$stormy: #494e6b;
$cloud: #98878f;
$sunset: #985e6d;
$evening: #192231;
$white: #f1f1f1;

// My fonts
@import url('https://fonts.googleapis.com/css?family=Prompt:200|Roboto');
$headline-font: 'Prompt', sans-serif;
$body-font: 'Roboto', sans-serif;

// background patterns (from heropattern.com)
$bg-cage: url(../images/cage.svg);
$bg-cboard: url(../images/circuit-board.svg);
$bg-diag: url(../images/diagonal-lines.svg);
$bg-cloud: url(../images/endless-clouds.svg);
$bg-eyes: url(../images/eyes.svg);
$bg-cogs: url(../images/floating-cogs.svg);
$bg-hounds: url(../images/houndstooth.svg);
$bg-signal: url(../images/signal.svg);

/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: $evening;
  // background-image: $bg-cogs;
  color: $sunset;
  font-family: $body-font;
  font-size: 16px;
  // padding: 3.125em 0;
  margin: 0 auto;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
  font-family: $headline-font;
	line-height:1;
}
a {
    text-decoration:none;
    color: darken($white, 50%);
}
a:hover {
    color: darken($white, 75%);
}


/* =Styles
-------------------------------------------------------------- */
#wrapper {
    width:100%;
    margin:0 auto;
}
#main {
	background-color: $stormy;
	// padding-top:150px;
}

.container {
    width:80%;
    margin:0 auto;
    padding:0 30px;
}

header {
  width: 100%;
  height: 5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $evening;
  color: $white;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  transition: height 0.3s;
  h1#logo {
    display: inline-block;
    height: 5em;
    line-height: 2em;
    vertical-align: middle;
    float: left;
    font-family: $headline-font;
    font-size: 2.5em;
    color: $white;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    span.qtag {
      color: $cloud;
    }
  }
  nav {
    display: inline-block;
    float: right;
    a {
      font-family: $body-font;
      font-size: 1em;
      line-height: 5em;
      margin-right: 1.5em;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: darken($cloud, 10%)
      }
    }
  }
  &.smaller {
    height: 2.5em;
    h1#logo {
      height: 2.5em;
      font-size: 1.25em;
      line-height: 1.75em;
    }
    nav {
      a {
        font-size: .75em;
        line-height: 3em;
      }
    }
  }
}

section {
  padding: 2.5em 0;
  background-color: $stormy;
  color: darken($white, 18%);
  h2 {
    color: $cloud;
  }
  &#intro {
    margin-top: 5em;
  }
  &.sunset {
    background-color: $cloud;
    color: $evening;
    h2 {
      color: $evening;
    }
  }
}

p.intro {
  font-size: 1.25em;
  letter-spacing: .02em;
  color: $white;
  text-align: center;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  padding: 1.5em;
  margin: 1em auto 1em auto;
  width: 70%;
}

h2 {
  font-family: $headline-font;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: .125em;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  padding-top: 1.25em;
}
