/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,900");
/* line 3, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 18, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 21, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

/* line 25, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 28, ../sass/style.scss */
blockquote {
  quotes: none;
}

/* line 31, ../sass/style.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/style.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 39, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../sass/style.scss */
a img {
  border: none;
}

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
/* line 80, ../sass/style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 88, ../sass/style.scss */
body {
  background-color: #2e2e2e;
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

/* Headings */
/* line 98, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* line 103, ../sass/style.scss */
a {
  text-decoration: none;
  color: #2e2e2e;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 110, ../sass/style.scss */
a:hover {
  color: #ff5d4c;
}

/* =Styles
-------------------------------------------------------------- */
/* line 119, ../sass/style.scss */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 123, ../sass/style.scss */
#main {
  background-color: #fff;
}

/* line 127, ../sass/style.scss */
.container {
  width: 60%;
  margin: 0 auto;
  padding: 0 1.5em .75em 1.5em;
  border-bottom: 1px dotted #7f7f7f;
}
/* line 132, ../sass/style.scss */
.container.header {
  width: 80%;
}
/* line 135, ../sass/style.scss */
.container.no-border {
  border-bottom: none;
}

/* line 140, ../sass/style.scss */
header {
  width: 100%;
  height: 5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ff5d4c;
  color: #fff;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  transition: height 0.3s;
}
/* line 154, ../sass/style.scss */
header h1#logo {
  display: inline-block;
  height: 5em;
  line-height: 2em;
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 167, ../sass/style.scss */
header h1#logo span.qtag {
  color: #2e2e2e;
}
/* line 170, ../sass/style.scss */
header h1#logo a.logo {
  color: #fff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 176, ../sass/style.scss */
header h1#logo a.logo:hover {
  color: #2e2e2e;
}
/* line 178, ../sass/style.scss */
header h1#logo a.logo:hover span.qtag {
  color: #2e2e2e;
}
/* line 184, ../sass/style.scss */
header nav {
  display: inline-block;
  float: right;
}
/* line 187, ../sass/style.scss */
header nav a {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 5em;
  letter-spacing: 0.125em;
  margin-right: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 200, ../sass/style.scss */
header nav a:hover {
  color: #2e2e2e;
}
/* line 205, ../sass/style.scss */
header.smaller {
  background-color: #fff;
  opacity: 0.9;
  height: 2.5em;
}
/* line 209, ../sass/style.scss */
header.smaller h1#logo {
  color: #2e2e2e;
  height: 2.5em;
  font-size: 1.25em;
  line-height: 1.75em;
}
/* line 214, ../sass/style.scss */
header.smaller h1#logo a.logo {
  color: #ff5d4c;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 220, ../sass/style.scss */
header.smaller h1#logo a.logo:hover {
  color: #2e2e2e;
}
/* line 226, ../sass/style.scss */
header.smaller nav a {
  color: #2e2e2e;
  font-size: .75em;
  line-height: 3em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 234, ../sass/style.scss */
header.smaller nav a:hover {
  color: #ff5d4c;
}

/* line 242, ../sass/style.scss */
section {
  padding: 2.5em 0;
}
/* line 244, ../sass/style.scss */
section h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: .125em;
  text-transform: uppercase;
  color: #2e2e2e;
  padding-top: 1.25em;
}
/* line 252, ../sass/style.scss */
section h1:first-child {
  padding-top: 0;
}
/* line 256, ../sass/style.scss */
section h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  line-height: 1em;
  color: #ff5d4c;
  padding-top: 1.25em;
}
/* line 263, ../sass/style.scss */
section:first-child {
  margin-top: 5em;
}
/* line 266, ../sass/style.scss */
section.primary {
  background-color: #fff;
  color: #2e2e2e;
}
/* line 270, ../sass/style.scss */
section.secondary {
  background-color: #ff5d4c;
  color: #2e2e2e;
}
/* line 273, ../sass/style.scss */
section.secondary h1, section.secondary h2 {
  color: #fff;
}

/* line 279, ../sass/style.scss */
p.intro {
  font-size: 1.25em;
  letter-spacing: .02em;
  color: #2e2e2e;
  text-align: center;
  border-top: 2px solid #ff5d4c;
  border-bottom: 2px solid #ff5d4c;
  padding: 1.5em;
  margin: 1em auto 1em auto;
  width: 70%;
}

/* line 291, ../sass/style.scss */
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: .125em;
  text-transform: uppercase;
  padding-top: 1.25em;
}
/* line 298, ../sass/style.scss */
h2:first-child {
  padding-top: 0;
}

/* line 303, ../sass/style.scss */
p {
  font-size: 1em;
  color: #7f7f7f;
  line-height: 1.25em;
  padding-top: 1.25em;
}
